<!DOCTYPE html>

<link rel="stylesheet" href="Templates/mobile-nav-styles.css">
<nav class="mobile-nav">
    <div class="mobile-nav-header">
        <span class="menu-toggle">&#9776;</span> <!-- Hamburger menu icon -->
        <a href="index.html" class="logo">
			<img src="Images\Icon.ico" alt="Logo" class="icon">
		</a>
    </div>
    <ul class="mobile-nav-list" id="nav-list">
        <li><a href="index.html">Home</a></li>
        <li><a href="about.html">About</a></li>

        <li class="dropdown">
            <a class="dropdown-toggle">Portfolio</a>
            <ul class="dropdown-menu">
                <li><a href="photography.html">Photography</a></li>
                <li><a href="website-design.html">Website design</a></li>
                <li><a href="graphic-design.html">Graphic design</a></li>
                <li><a href="video.html">Video</a></li>
            </ul>
        </li>

        <li><a href="publications.html">Publications</a></li>
        <li><a href="decolonise east asian studies.html">Decolonise East Asian Studies</a></li>
        <li><a href="my music.html">My music</a></li>
		<li><a href="contact.html">Contact</a></li>
    </ul>
</nav>
